
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .footer {
            text-align: center;
            font-size: 12px;
            position: relative;
        }

       
    </style>
</head>
<body>
   
        <!-- Add your footer content here -->
        <center>
            <img src="~/BOTTOM.png" class="headImg" style="width:95%; margin-top:40px" />
        </center>
    
</body>
</html>




