
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        /* Example styles for header */
        .header {
            text-align: center;
           /* padding: 10px;
            background-color: #f0f0f0;*/
        }

        .logo {
          
            width: 95%; /* Adjust size as needed */
            height: auto;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="~/top.png" alt="Logo" class="logo" />
        @*<h2>Header Content</h2>*@
        <!-- Add other header content here -->
    </div>
</body>
</html>

@*<center>
    <img src="~/top.png" class="headImg" style="width:95%" />
</center>*@

